<link href="~/css/project.css" rel="stylesheet" />
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin Page</title>
</head>
<body>
    <h2>Admin Page</h2>
    <div>
        <a asp-area="" asp-controller="RoleAdmin" asp-action="CustomerList">Customer Administration</a>
        <br />
        Role Administration -- Coming Soon (hopefully)
        <br />
        Review Administration -- Coming Soon (hopefully)
        <br />
        Question Administration -- Coming Soon (hopefully)

    </div>
</body>
</html>
