
<body>
    @{
        ViewData["Title"] = "Contact";
    }
    <h2>@ViewData["Title"]</h2>

    <address>
        8800 O St<br />
        Lincoln, NE 68520<br />
        <abbr title="Phone">P:</abbr>
        (402)471-3333
    </address>

    <address>
        <strong>John Bellows: </strong> <a href="mailto:jb386126@southease.edu">jb386126@southease.edu</a><br />
        <strong>Anthony Lacy: </strong> <a href="mailto:al725845@southeast.edu">al725845@southeast.edu</a>
    </address>
</body>