<link href="~/css/project.css" rel="stylesheet" />
<body>
    @{
        ViewData["Title"] = "Customer";
    }
    <h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>

    <p>Hello world</p>
    <p>TODO = need to figure out how to program</p>
</body>