@{
    ViewData["Title"] = "Home Page";
}

<h1>Two Guys and a Store!!!</h1>

<p>Have you ever gone to a thrift store without risk getting robbed?<br /> 
    Well here's your chance, you sell us your junk, and we'll sell it here on this page!</p>