<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>2 Guys and a Store</title>
</head>
<body>
    <div>
        <h2>Add a new item</h2>

        <form asp-action="Create">
            <input type="text" id="InventoryNumber" />
            <input type="text" id="InventoryName" />
            <input type="text" id="InventoryDescription" />
            <input type="text" id="InventoryStock" />
            <input type="text" id="InventoryPrice" />
        </form>
    </div>
</body>
</html>

