<link href="~/css/project.css" rel="stylesheet" />

@model GroupProject.Models.InventoryViewModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>2 Guys and a Store</title>
</head>
<body>
    <div>
        <h2>Add a new item</h2>

        <form asp-action="Create">

            <div>
                <label>Item Number: </label>
                <input asp-for="InventoryNumber" id="InventoryNumber" />
                <span asp-validation-for="InventoryNumber" class="text-danger"></span><br />
            </div>
            <div>
                <label>Item Name: </label>
                <input asp-for="InventoryName" id="InventoryName" />
                <span asp-validation-for="InventoryName" class="text-danger"></span><br />
            </div>
            <div>
                <label>Item Description: </label>
                <input asp-for="InventoryDescription" id="InventoryDescription" />
                <span asp-validation-for="InventoryDescription" class="text-danger"></span><br />
            </div>
            <div>
                <label>Item Stock Amount: </label>
                <input asp-for="InventoryStock" id="InventoryStock" />
                <span asp-validation-for="InventoryStock" class="text-danger"></span><br />
            </div>    
            <div>
                <label>Item Price: </label>
                <input asp-for="InventoryPrice" id="InventoryPrice" />
                <span asp-validation-for="InventoryPrice" class="text-danger"></span><br />
            </div>
            <input type="submit" value="submit" />
        </form>
    </div>
</body>
</html>

