<link href="~/css/project.css" rel="stylesheet" />

@model GroupProject.Models.InventoryViewModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>2 Guys and a Store</title>
</head>
<body>
    <div>
        <h2>Add a new item</h2>

        <form encrypte="multipart" asp-action="NewItem">

            
            <div>
                <label asp-for="InventoryName">Item Name: </label>
                <input asp-for="InventoryName" />
                <span asp-validation-for="InventoryName" class="text-danger"></span><br />
            </div>
            <div>
                <label asp-for="InventoryDescription">Item Description: </label>
                <input asp-for="InventoryDescription" />
                <span asp-validation-for="InventoryDescription" class="text-danger"></span><br />
            </div>
            <div>
                <label asp-for="InventoryStock">Item Stock Amount: </label>
                <input asp-for="InventoryStock" />
                <span asp-validation-for="InventoryStock" class="text-danger"></span><br />
            </div>    
            <div>
                <label asp-for="InventoryPrice">Item Price: </label>
                <input asp-for="InventoryPrice" />
                <span asp-validation-for="InventoryPrice" class="text-danger"></span><br />
            </div>
            <input type="submit" value="Submit" />
        </form>
    </div>
    <a asp-action="Store">Back To Store</a>
</body>
</html>

